@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

* {
	box-sizing: border-box;
	font-family: "Inter", sans-serif;
	margin: 0;
	padding: 0;
}
/* Sidebar */

button {
	all: unset;
	cursor: pointer;
}

body {
	display: flex;
	flex-direction: row;
	background: linear-gradient(180deg, #292556 0%, #120a24 100%);
}

ul {
	list-style: none;
}

a {
	all: unset;
	cursor: pointer;
}

.sidebar {
	height: 100vh;
	background-color: #2b244f;
	border-right: 1px solid rgba(208, 190, 216, 0.16);
	padding: 24px 16px;
	width: 280px;
	min-width: 248px;
	display: flex;
	flex-direction: column;
	gap: 16px;
	overflow: scroll;
	transition: all 0.5s;
}
.sidebar::-webkit-scrollbar {
	display: none;
}

.sidebar_edit {
	background-color: rgb(37, 33, 39);
	border-right: 1px solid rgba(208, 190, 216, 0.16);
}

.sidebar_title {
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 41px;
	/* identical to box height */

	/* Gradients/pinkish */

	background: linear-gradient(184.15deg, #ffffff 30.23%, #884ea4 96.61%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}

.account_selector {
	background: #362d69;
	border-radius: 12px;
	width: 100%;
	height: 69px;

	border-bottom: 1px solid #120a24;

	display: flex;

	flex-direction: row;
	padding: 16px 12px;
	align-items: center;
	gap: 12px;
}

.user_img {
	width: 32px;
	height: 32px;
	border-radius: 100%;
}

.user_info {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	flex-grow: 1;
}

.user_name {
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;

	/* Solid/White */

	color: #ffffff;
}

.user_address {
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;

	/* Solid/Text Primary */

	color: #d0bed8;
	overflow: hidden;
}

.icons {
	display: flex;
	flex-direction: row;
	gap: 12px;
}

.nav_buttons {
	display: flex;
	flex-direction: column;
	gap: 12px;
	padding: 0;
}

.nav_item,
.btc_item {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding: 10px;
	gap: 18px;
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	/* identical to box height */

	/* Solid/White */

	color: #ffffff;

	border-radius: 8px;
	border: 1px solid rgba(0, 0, 0, 0);
}

.nav_item_active {
	background: rgba(57, 157, 250, 0.72);
	background: rgba(57, 157, 250, 0.72);
	border: 1px solid #399dfa;
	box-shadow: 0px 4px 24px rgba(57, 47, 113, 0.2);
}

.nav_item svg {
	transform: scale(1.1);
}

.folder_section {
	display: flex;

	flex-direction: column;
	gap: 12px;
}

.folder_info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.folder_info p {
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	/* identical to box height */

	/* Solid/Text Secondary */

	color: #a58ead;
}

.edit_folder_button,
.done_folder_button {
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	/* identical to box height */

	/* Gradients/Green */

	background: linear-gradient(180deg, #2edf95 0%, #07847c 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
	display: flex;
	align-items: center;
	gap: 10px;
}

.done_folder_button {
	display: none;
}

.folders {
	display: flex;

	flex-direction: column;
	gap: 12px;
}

.folder {
	display: flex;
	flex-direction: row;
	align-items: center;

	padding: 10px 8px;
	gap: 16px;

	border-radius: 12px;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	/* identical to box height */

	/* Solid/White */

	color: #ffffff;
	cursor: pointer;
	border: 1px solid #399dfa00;
}

.selected_folder {
	background: rgba(57, 157, 250, 0.72);
	border: 1px solid #399dfa;
	box-shadow: 0px 4px 24px rgba(57, 47, 113, 0.2);
	border-radius: 8px;
}

.folder_name {
	flex-grow: 1;
}
.folder span {
	display: grid;
	place-items: center;

	padding: 2px 8px;
	/* Solid/Borders */

	background: #362d69;
	border-radius: 12px;
}

.folder_icons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 14px;
	display: none;
}

.new_folder {
	background: rgba(255, 255, 255, 0.04);
}

.edit_mode:hover {
	cursor: move;
}

.delete_folder:hover {
	cursor: pointer;
}

main {
	flex-grow: 1;
	height: fit-content;
}
/* Header */

header {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 72px;
	background: #2b2550;
	border-bottom: 1px solid rgba(208, 190, 216, 0.16);
	width: 100%;
	padding: 18px 24px;
	gap: 15px;
}

.header_title {
	flex-grow: 1;
	font-weight: 700;
	font-size: 24px;
	line-height: 31px;
	/* identical to box height */

	color: #ffffff;
	font-size: 24px;
}

.import {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;

	background: #231c3f;
	box-shadow: 0px 4px 24px rgba(57, 47, 113, 0.2);
	border-radius: 10px;
	border: 1px solid #392f73;
}

.input_url {
	all: unset;
	box-sizing: border-box;
	padding: 11px 16px;
	gap: 8px;
	height: 40px;
	background: rgba(61, 53, 92, 0.3);
	box-shadow: 0px 4px 24px rgba(57, 47, 113, 0.2);
	border-radius: 8px;
	flex: 1;
	border: 1px solid #392f73;
	caret-color: white;
	color: white;
	text-align: left;
	font-size: 13px;
	line-height: 17px;
}

.input_url:focus {
	border: 1px solid #a58ead;
}

.upload_button {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 11px 16px;
	gap: 8px;
	cursor: pointer;
	width: fit-content;

	background: linear-gradient(95.49deg, #ffffff 0%, #b098bb 100%);
	box-shadow: 0px 4px 24px rgba(183, 161, 194, 0.3);
	border-radius: 8px;
	border: none;
	color: #120a24;
	font-weight: 600;
	transition: all 0.3s;
	font-size: 14px;
	white-space: nowrap;
}

.import_button {
	margin-top: 10px;
	padding: 11px 16px;
	cursor: pointer;
	height: 40px;
	background: linear-gradient(180deg, #292556 0%, #1e1530 100%);
	box-shadow: 0px 4px 24px rgba(57, 47, 113, 0.2);
	border-radius: 8px;
	border: 1px solid #362d69;
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	/* identical to box height */

	text-align: center;

	/* Solid/Text Primary */

	color: #d0bed8;
	transition: all 0.3s;
}

.upload_button_active {
	background: linear-gradient(95.49deg, #ffffff 0%, #b098bb 100%);
	color: #120a24;
	font-weight: 600;
	border: none;
}

.header_subtitle span {
	all: unset;
	margin-left: 5px;

	background: linear-gradient(180deg, #2edf95 0%, #07847c 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
	font-weight: 500;
}
.header_subtitle {
	display: flex;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: #a58ead;
	flex-grow: 1;
	width: 100%;
	padding: 18px 24px;
}

.dashboard_section {
	padding: 9px 24px;
	display: flex;
	flex-direction: column;
	gap: 25px;
	flex-grow: 1;
}

.dashboard_title {
	font-weight: 400;
	font-size: 32px;
	line-height: 41px;
	/* identical to box height */

	/* Solid/Text Primary */

	color: #d0bed8;
}

.dashboard_info {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	gap: 17px;
	min-height: 148px;
}

.plan_data,
.activity_info {
	background: linear-gradient(180deg, #292556 0%, #1e1530 100%);
	/* Solid/Borders */

	border: 1px solid #362d69;
	box-shadow: 0px 4px 24px rgba(57, 47, 113, 0.2);
	border-radius: 16px;
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	padding: 24px;
	justify-content: space-between;
	max-width: 334px;
	height: 148px;
}

.plan_data_info {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.plan_data_info h4 {
	font-weight: 700;
	font-size: 24px;
	line-height: 31px;
	/* identical to box height */

	/* Solid/White */

	color: #ffffff;
}

.plan_data_info p {
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	text-align: center;

	/* Solid/White */

	color: #ffffff;
}

.activity {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	background: linear-gradient(180deg, #292556 0%, #1e1530 100%);
	/* Solid/Borders */

	border: 1px solid #362d69;
	box-shadow: 0px 4px 24px rgba(57, 47, 113, 0.2);
	border-radius: 16px;
	padding: 24px;
	min-height: 148px;
	gap: 24px;
	flex-wrap: wrap;
}

.activity_info {
	display: flex;
	flex-direction: row;
	font-weight: 700;
	justify-content: space-between;
	color: #ffffff;
	width: 340px;
	gap: 33px;
}

.files_info {
	display: flex;
	gap: 8px;
	flex-direction: column;
}

.files_info h4 {
	font-size: 24px;
	line-height: 31px;
}

.files_info p {
	font-size: 40px;
	line-height: 51px;
	/* identical to box height */

	/* Solid/White */
}

.list_details {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	gap: 17px;
	flex-grow: 1;
}

.list_details li {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	gap: 18px;
}

.list_details li p {
	flex-grow: 1;
	font-weight: 400;
	font-size: 13px;
	line-height: 17px;
	/* identical to box height */

	/* Solid/Text Primary */

	color: #d0bed8;
}

.list_details li span {
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	text-align: right;

	/* Solid/White */

	color: #ffffff;
}

.activity_graph {
	flex-grow: 1;
	display: flex;
	padding-left: 24px;
	border-left: 1px solid #362d69;
	justify-items: flex-start;
	align-items: flex-start;
}

.activity_graph h4 {
	font-weight: 700;
	font-size: 24px;
	line-height: 31px;
	/* identical to box height */

	/* Solid/White */

	color: #ffffff;
}

.dashboard_subtitles {
	font-weight: 400;
	font-size: 24px;
	line-height: 31px;
	/* identical to box height */

	/* Solid/White */

	color: #ffffff;
}

.image_container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 16px;
}

.image_card {
	background: linear-gradient(180deg, #292556 0%, #1e1530 100%);
	/* Solid/Borders */

	border: 1px solid #362d69;
	box-shadow: 0px 4px 24px rgba(57, 47, 113, 0.2);
	border-radius: 24px;
	height: 254px;
	width: 338px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.image_card_checked {
	transition: all 0.3s;
	background: linear-gradient(180deg, rgba(46, 223, 149, 0.56) 0%, rgba(7, 132, 124, 0.56) 100%);
	box-shadow: 0px 4px 24px rgba(57, 47, 113, 0.2);
}

.image {
	max-width: 100%;
	max-height: 100%;
	border-radius: 24px;
}

.image_card button {
	position: absolute;
	background: rgba(54, 45, 105, 0.8);
	backdrop-filter: blur(8px);
	/* Note: backdrop-filter has minimal browser support */

	border-radius: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 8px 12px;
	gap: 8px;
	font-weight: 400;
	font-size: 13px;
	line-height: 150%;
	/* identical to box height, or 20px */

	text-align: center;

	/* Solid/Text Primary */

	color: #d0bed8;

	text-shadow: 0px 2px 16px rgba(159, 108, 209, 0.32);
}

.image_card .delete_button {
	top: 24px;
	left: 24px;
}

.image_card .copy_link {
	top: 24px;
	right: 24px;
}

.image_card .public_button {
	bottom: 24px;
	left: 24px;
}

.toggle-switch {
	position: relative;
	display: inline-block;
	width: 28px;
	height: 18px;
	cursor: pointer;
}

.toggle-switch input[type="checkbox"] {
	display: none;
}

.toggle-switch-background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #ddd;
	border-radius: 20px;
	transition: background-color 0.3s ease-in-out;
}

.toggle-switch-handle {
	position: absolute;
	top: 4px;
	left: 5px;
	width: 10px;
	height: 10px;
	background-color: #fff;
	border-radius: 50%;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	transition: transform 0.3s ease-in-out;
}

.toggle-switch::before {
	content: "";
	position: absolute;
	top: -25px;
	right: -35px;
	font-size: 12px;
	font-weight: bold;
	color: #aaa;
	text-shadow: 1px 1px #fff;
	transition: color 0.3s ease-in-out;
}

.toggle-switch input[type="checkbox"]:checked + .toggle-switch-handle {
	transform: translateX(45px);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 0 0 3px #05c46b;
}

.toggle-switch input[type="checkbox"]:checked + .toggle-switch-background {
	background-color: #05c46b;
}

.toggle-switch input[type="checkbox"]:checked + .toggle-switch:before {
	content: "On";
	color: #05c46b;
	right: -15px;
}

.toggle-switch input[type="checkbox"]:checked + .toggle-switch-background .toggle-switch-handle {
	transform: translateX(10px);
}

.toast {
	position: fixed;
	width: 327px;
	height: 64px;
	bottom: 50px;
	right: 30px;

	padding: 12px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	background: linear-gradient(180deg, #292556 0%, #1e1530 100%);
	box-shadow: 0px 4px 24px rgba(57, 47, 113, 0.2);
	border-radius: 12px;
	gap: 12px;
}

.import_icon {
	width: 48px;
	height: 48px;
	border: 1px solid #392f73;

	display: grid;
	place-items: center;
	background: rgba(61, 53, 92, 0.3);
	box-shadow: 0px 4px 24px rgba(57, 47, 113, 0.2);
	border-radius: 100%;
}

.toast_info {
	display: flex;
	flex-direction: column;
	font-weight: 500;
	font-size: 13px;
	line-height: 17px;
	/* identical to box height */

	/* Gradients/Green */

	background: linear-gradient(180deg, #2edf95 0%, #07847c 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
	flex: 1;
	gap: 4px;
}

.toast_info p {
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;

	/* Solid/Text Primary */

	background: #d0bed8;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}

.hidden_element {
	display: none;
}

@media (min-width: 0) {
	.sidebar {
		position: absolute;
		transform: translateX(-100%);
		z-index: 3;
	}
	.header_title {
		font-size: calc(1em + ((100vw - 20em) / 20));
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.menu_button {
		display: flex;
	}

	.input_url {
		display: none;
	}
	.toast {
		margin: auto;
		right: 00px;
		left: 0;
	}
}
@media (min-width: 769px) {
	.sidebar {
		position: fixed;
		transform: unset;
	}
	.header_title {
		font-size: 28px;
		white-space: unset;
		overflow: unset;
		text-overflow: unset;
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 16px;
	}
	.menu_button {
		display: none;
	}

	.input_url {
		display: flex;
		max-width: 419px;
	}
	main {
		padding-left: 280px;
	}
	.toast {
		right: 30px;
		left: unset;
		margin: unset;
	}
}

/* Pie chart */
:root {
	--progress-bar-width: 100px;
	--progress-bar-height: 100px;
	--font-size: 1rem;
}

.plan_data_graph {
}

.circular-progress {
	width: var(--progress-bar-width);
	height: var(--progress-bar-height);

	aspect-ratio: 1/1;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.inner-circle {
	position: absolute;
	width: calc(var(--progress-bar-width) - 30px);
	height: calc(var(--progress-bar-height) - 30px);
	border-radius: 50%;
	background-color: linear-gradient(180deg, #292556 0%, #1e1530 100%);
}

.percentage {
	position: relative;
	font-size: var(--font-size);
	color: rgb(0, 0, 0, 0.8);
}

/* @media screen and (max-width: 800px) {
	:root {
		--progress-bar-width: 150px;
		--progress-bar-height: 150px;
		--font-size: 1.3rem;
	}
}

@media screen and (max-width: 500px) {
	:root {
		--progress-bar-width: 120px;
		--progress-bar-height: 120px;
		--font-size: 1rem;
	}
} */
