/* HEADER */

li {
  list-style: none;
}

.navigation_header a,
.menu a {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  width: fit-content;
  height: 40px;
  text-align: center;
  border-radius: 8px;
}

.nav_button {
  font-weight: 400;
  color: #a58ead;
  padding: 8px 12px;
}

.nav_button:hover {
  border-radius: 8px;
  background: var(--solid-borders, #362d69);
}

.login_button {
  display: flex;
  padding: 8px 12px !important;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: var(--solid-borders, #362d69);
}

.login_button:hover {
  background: #362d70;
}

@media (min-width: 0) {
  header {
    display: flex;
    flex-direction: row;
    padding-top: 12px;
    width: 100vw;
  }
  .login_button {
    display: none !important;
  }
  .menu_button {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navigation_header {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: space-between;
    width: 100%;
  }

  .menu {
    gap: 16px;
    display: none;
    width: 212px;
    padding: 24px 16px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 12px;
    border: 1px solid #3d3783;
    background: #292454;
    box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.32);
    position: absolute;
    top: 48px;
    right: 16px;
  }
  .menu a {
    width: 100%;
    justify-content: left;
  }
  .login_desktop {
    display: flex !important;
    width: 100% !important;
    justify-content: center !important;
  }
  .center_buttons {
    margin-top: -500px;
  }
}

@media (min-width: 965px) {
  header {
    padding-top: 48px;
  }
  .center_buttons {
    display: flex;
    flex-direction: row;
    margin-top: unset;
  }
  .login_button {
    display: flex !important;
  }
  .menu_button {
    display: none;
  }
  .navigation_header {
    justify-content: space-around;
  }
  .menu {
    display: none;
  }
  .login_desktop {
    display: none !important;
  }
}
