body {
	display: flex;

	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 24px;
}

main {
	flex-grow: 1;
}
.login_form {
	width: 462px;
	min-height: 352px;
	padding: 24px;
	background: linear-gradient(180deg, #292556 0%, #1e1530 100%);
	/* Solid/Borders */
	margin: 0 auto;
	border: 1px solid #362d69;
	box-shadow: 0px 4px 24px rgba(57, 47, 113, 0.2);
	border-radius: 24px;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	max-width: 100%;
}

.login_title {
	font-weight: 700;
	font-size: 20px;
	line-height: 25px;
	/* identical to box height */

	text-align: center;

	background: linear-gradient(184.15deg, #ffffff 47.52%, #884ea4 96.61%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;

	text-shadow: 0px 4px 32px rgba(159, 108, 209, 0.46);
}

.login_text {
	font-weight: 400;
	font-size: 13px;
	line-height: 160%;
	/* identical to box height, or 21px */
	margin-bottom: 26px;
	text-align: center;

	/* Solid/Text Secondary */

	color: #a58ead;

	text-shadow: 0px 2px 16px rgba(159, 108, 209, 0.32);
}

.signup_text {
	margin-bottom: 0;
}

.login_form input {
	all: unset;
	box-sizing: border-box;
}

.login_form input {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 11px 16px;
	gap: 8px;

	width: 100%;
	height: 39px;

	background: rgba(61, 53, 92, 0.3);
	/* Solid/Borders */

	border: 1px solid #362d69;
	box-shadow: 0px 4px 24px rgba(57, 47, 113, 0.2);
	border-radius: 8px;
	font-weight: 400;
	font-size: 13px;
	line-height: 17px;
	/* identical to box height */

	/* Solid/Text Primary */

	color: #d0bed8;
}

.login_form input:focus {
	border: 1px solid #a58ead;
}

.login_form .login_button {
	all: unset;
	cursor: pointer;
	height: 40px;
	width: 100%;
	color: #120a24;
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	/* identical to box height */

	text-align: center;
	background: linear-gradient(95.49deg, #ffffff 0%, #b098bb 100%);
	box-shadow: 0px 4px 24px rgba(183, 161, 194, 0.3);
	border-radius: 8px;
}

.login_form .sign_up_link {
	width: 100%;

	font-weight: 400;
	font-size: 13px;
	line-height: 160%;
	/* identical to box height, or 21px */

	/* Solid/Text Secondary */

	color: #a58ead;

	text-shadow: 0px 2px 16px rgba(159, 108, 209, 0.32);
}

.sign_up_link a,
.link_to_create {
	text-decoration: none;
	font-weight: 400;
	font-size: 13px;
	line-height: 160%;
	/* identical to box height, or 21px */

	text-align: center;

	/* Gradients/Green */

	background: linear-gradient(180deg, #2edf95 0%, #07847c 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;

	text-shadow: 0px 2px 16px rgba(159, 108, 209, 0.32);
}

.warning {
	background: linear-gradient(103.7deg, rgba(218, 189, 85, 0.12) 0%, rgba(247, 133, 51, 0.12) 100%);
	border: 1px solid #643e39;
	box-shadow: 0px 4px 24px rgba(57, 47, 113, 0.2);
	border-radius: 16px;
	width: 462px;
	padding: 16px;
	position: relative;
	display: flex;
	flex-direction: row;
	gap: 16px;
	justify-content: center;
	align-items: center;
	max-width: 100%;
}

.warning_icon {
	width: 40px;
	height: 40px;

	display: grid;
	place-items: center;
	background: linear-gradient(103.7deg, rgba(218, 189, 85, 0.12) 0%, rgba(247, 133, 51, 0.12) 100%);
	box-shadow: 0px 4px 24px rgba(57, 47, 113, 0.2);
	border-radius: 100%;
	border: 1px solid #f685333d;
}

.warning_text {
	display: flex;
	flex-direction: column;
	flex: 1;
	max-width: 100%;
}

.warning_text h2 {
	font-weight: 700;
	font-size: 20px;
	line-height: 25px;
	/* identical to box height */

	background: linear-gradient(184.15deg, #ffffff 47.52%, #884ea4 96.61%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;

	text-shadow: 0px 4px 32px rgba(159, 108, 209, 0.46);
}

.warning_text p {
	font-weight: 400;
	font-size: 13px;
	line-height: 160%;
	/* or 21px */

	/* Solid/Text Secondary */

	color: #a58ead;

	text-shadow: 0px 2px 16px rgba(159, 108, 209, 0.32);
}

.warning .close {
	all: unset;
	display: grid;
	place-items: center;
	cursor: pointer;
	width: 20px;
	height: 20px;

	background: linear-gradient(103.7deg, rgba(218, 189, 85, 0.12) 0%, rgba(247, 133, 51, 0.12) 100%);
	box-shadow: 0px 4px 24px rgba(57, 47, 113, 0.2);
	border-radius: 16px;
	position: absolute;
	top: 8px;
	right: 8px;
}

.hidden_element {
	visibility: hidden;
	display: none;
}

main {
	display: flex;

	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 24px;
}
